@import '/scss/variables.scss';

#mobile-wrap {
  .top {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .info-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    span {
      color: #181a20;
      font-family: $font;
      font-size: 34px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.646px;
      text-transform: capitalize;
      &.white {
        color: #ffffff;
      }
    }

  }

  #footer {
    position: relative;
    padding: 60px 0px 18px 0px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background: #181a20;
    .footer-container {
      padding: 0 10px;
      margin: 0 auto;
      width: 1300px;
      height: auto;
      .main {
        display: flex;
        flex-direction: column;
        .left {
          height: 360px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .footer-box {
            display: flex;
            flex-direction: column;
            .logo {
              width: 128px;
              height: 52px;
              object-fit: contain;
              object-position: left center;
              cursor: pointer;
            }
            span {
              color: #bebdbd;
              font-family: $font;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              text-transform: capitalize;
            }
            p {
              color: #fff;
              font-family: $font;
              font-size: 15px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              text-transform: capitalize;
            }
            .media-box {
              margin-top: 12px;
              color: #929495;
              svg {
                font-size: 32px;
                margin-right: 22px;
                cursor: pointer;
              }
            }
          }
        }
        .right {
          display: flex;
          flex-direction: column;
          .bottom {
            margin-top: 60px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            div {
              display: flex;
              flex-direction: column;
              strong {
                margin-bottom: 3px;
                color: #fff;
                font-family: $font;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: capitalize;
              }
              span {
                margin-top: 25px;
                color: #bebdbd;
                font-family: $font;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                cursor: pointer;
              }
            }
          }
        }
      }
      .second {
        margin-top: 60px;
        height: 45px;
        border-top: 1px solid #212329;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        span {
          color: #bebdbd;
          font-family: $font;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}